<!DOCTYPE HTML>
<head>
  <title>BikeWay Viewer</title>
  <style>
    .periodPicker {
      position: absolute;
      top: 94.5%;
      left: 1%
    }
    .variablePicker {
      position: absolute;
      top: 94.5%;
      left: 28.5%
    }
    .datePicker {
      position: absolute;
      top: 94.2%;
      left: 81%
    }
    .dateField{
      width: 150px;
      height: 25px;
    }
    .loadButton{
      width: 80px;
      height: 25px;
    }
  </style>
</head>
<body>
  {% include "map.html" %}
  <form class="form" action='/dateChange/' method="post">
    <div class="periodPicker">
      <input type="radio" name="periodList" id="yearly" value="yearly"/>
      <label for="yearly">Yearly</label>

      <input type="radio" name="periodList" id="monthly" value="monthly"/>
      <label for="monthly">Monthly</label>

      <input type="radio" name="periodList" id="daily" value="daily"/>
      <label for="daily">Daily</label>
    </div>

    <div class="variablePicker">
      <input type="radio" name="variableList" id="air" value="air"/>
      <label for="air">Air pollution</label>

      <input type="radio" name="variableList" id="noise" value="noise"/>
      <label for="noise">Noise pollution</label>

      <input type="radio" name="variableList" id="uv" value="uv"/>
      <label for="uv">UV level</label>

      <input type="radio" name="variableList" id="temp" value="temperature"/>
      <label for="temp">Thermal sensation</label>

      <input type="radio" name="variableList" id="lum" value="luminosity"/>
      <label for="lum">Luminosity</label>
    </div>

    <div class="datePicker">
      <input class = "dateField" type="date"  name="date_change_picker" value="{{dateCheck}}">
      <button class = "loadButton" name="date_change_button" value="load"> Load map </button>
    </div>

  </form>

</body>
</html>
